@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
.header {
    padding: 10px;
}
.landing-title {
    font-family: 'Roboto', sans-serif;
    /* text-transform: uppercase; */
    text-align: center;
    color: white;
    font-weight: 300;
    top: 25%;
    position: relative;
    display: block;

}
.landing-banner {
    min-height: 300px;
    background-color: #508FF5;
}
