<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FYFYPP</title>
  </head>
  <body>
    <h1>Find Your FYP Prof</h1>
    {% if user %}
      {{ user['email'] }}
      <a href="/logout" class="btn btn-primary" role="button" aria-pressed="true">Logout</a>
    {% else %}
      You are not currently logged in. <a href="/login">Log in</a>
    {% endif %}
    <ul>
      <li>
        <a href="http://127.0.0.1:5000/api/profs">/api/profs</a>
      </li>
    </ul>
  </body>
</html>